.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin
  =grid xs:10,sm:8,md:6,lg:4 do
    .big-padding.sharp-blue.white-text
      %h1.no-margin.bold.light-blue-text Cyberdreams
      %p.no-margin Total knowledge in your computer. We will make your dreams come true.
      .top-space
        =render "devise/registrations/new"
